* {
    box-sizing: border-box;
}

div span {
    float: left;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    margin-left: 20px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

 div a {
     display: none;
 }
.nav{
    border-bottom: 3px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    font-family: 'Roboto', sans-serif;
    background-color: indianred;
}
.menu {
    margin: 0 30px 0 0;
    background-color: rgb(65, 75, 59);
}

.menu a {
    clear: right;
    text-decoration: none;
    color: khaki;
    margin: 0 10px;
    line-height: 40px;
    font-size: 20px;
}



label {
    margin: 0 12px 0 0;
    font-size: 24px;
    border-radius: 8px;
    line-height: none;
    width: 26px;
    float: right;
    display: none;
}

#toggle {
    display: none;
}

/** END OF NAV BAR **/


/* THE SECTIONS */



h2 { 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 35px;
}

section {
    background-color: indianred;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px black;
}

h3 {
    text-align: center;
    font-size: 27px;
    padding-top: 8px;
    padding-bottom: 0;
}

p {
    padding: 15px;
}



/* MEDIA QUEARIES */

@media only screen and (max-width:767px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;

    }
    .menu a {
        display: block;
        border-bottom: 3px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;

    }

    section {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h2 {
        margin-top: 150px;
    
    }


}

